body{
	margin:auto;
	width: 90%;
	font-family: 'Open Sans',sans-serif !important;
}
#support,#testimonial,#carapesan{
	height: 450px;
	background:white;
}
#news{
	height: 650px;
}
#testimonial,#carapesan{
	background: #2D3E50;	
	height: 240px;
	clear: both;
}
#carapesan{
	background: white;	
}
#contact{
	background: #1b2530;
}
#home{
	/*box-shadow: 0 -3px 6px #bbb;*/
	margin-top: 125px;
}
#hr-header{
	height: 3px;
	width: 100%;
	background: #DA3E2A;
}
#menu{
	background:white;
	position: fixed;
    z-index: 3;
    width: 90%;
}
.menu{
	margin: auto;
	width: 60%;
	height: 60px;
	margin-top: 50px;
}
.menu a{
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.nav-pills > li.active > a:active{
	color: #fff !important;
    background-color: #DA3E2A !important;
    border-radius: 30px !important;
}
.nav-pills > li > a:hover{
	color: #fff;
    background-color: #DA3E2A !important;
    border-radius: 30px !important;
}
.logo-container{
	float: left;
	padding:20px 5px 5px 5px;
	background: rgba(255, 255, 255, 0.56);
	width: 100px;
}
.home{
	background: url(../img/bg4.jpg);
	background-size: cover;
	padding:170px 0px;
	background-position: 50%;
}
.home p{
	font-size: 30pt;
	text-align: center;
	color:white;
	font-family: monospace;
	margin: -10px;
	font-weight: bold;
}
.btn{
	padding: 15px 10px;
	border: 2px solid white;
	color:white;
	border-radius: 0 !important;
	font-weight: bold;
}
.btn:hover{
	background: white;
}

.title{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 25pt;
	display: table;
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
}
#support ul{
	margin: auto;
	display: table;
}
#support ul li{
	display:inline-block;
	margin:10px;
	background: white;
	padding: 10px;
	box-shadow: 0 1px 2px 0 #bbb;
}
#support{
	height: 650px;
}

.support{
	margin:auto;
}
.btn-support{
	width: 100x;
	background: #e84c3d;
	color:white;
	width: 150px;
	padding:10px;
	border-radius: 5px;
	margin: auto;
}

/*news*/
#news{
	height: 600px;
}
#news ul{
	margin: auto;
	display: table;
}
#news ul li{
	display:table;
	height: 350px;
	width: 250px;
	margin:10px;
	float: left;
	margin-bottom: -140px;
	background: white;
	padding: 20px 15px;
	font-size: 10pt;
}
#news img{
	margin-bottom: 10px;
}
#news{
	background: #f0f0f0;
}

.news{
	margin:auto;
}
.btn-news{
	padding:5px;
	margin: auto;
	background: #48484A;
	color: white;
	border-radius: 2px;
}
#news .thead{
	font-weight: bold;
	font-size: 13pt;
}
#news .date{
	font-size: 9pt;
}
#news .content{
	clear: both;
	text-align: justify;
}


/*testimonial*/
#testimonial ul,#carapesan ul{
	list-style: none;
}
#testimonial ul li,#carapesan ul li{
	display: inline-block;
	margin:10px;
}
.icon-testimonial{
	border-radius:100px;
	height: 200px;width: 200px;
	margin: auto;
	background-size: cover !important;
}
.text-testimonial{
	border-radius: 5px;
	width: 300px;
	padding: 10px 10px;
	background: white;
	display: table;
	font-size: 12pt;
}
.text-testimonial .from{
	font-style: italic;
	font-size: 10pt;

}

/*map*/
#map{
	height: 300px;
	clear: both;
	border:1px solid #bbb;	
}

/*cara pesan*/
#carapesan{
	height: 630px;
}
#carapesan .text-testimonial p{
	font-weight: bold;
}
.btn-pesan-carapesan{
	padding: 20px 50px;
	border-radius: 10px;
	background: #DA3E2A;
	color: white;
	outline: none;
	border:0px;
	font-weight: bold;
}

/*contact*/
#contact{
	height: 200px;
	background: #f0f0f0;
}